<div id="about">
<h4><span>FAQ</span></h4>
<div id="faq">
  <p>
    <b>Who are BarterBots</b> We are a group of graduate students from CMU. This is our group project for software engineering course!
  </p>
  <p>
    <b>What is MobiDr</b> MobiDr is the Barterbots Development Team’s branded version of the BestBay application. This website will be a medium for the selling, buying, bidding on, and purchasing mobile device and related merchandise.
  </p>
  <p>
    <b>Contact us!</b> If you&acute;re experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same
    interests with you.
  </p>
</div>
<div id="team">
  <h4><span>Team BarterBots</span></h4>
  <img src="/assets/teampic.png" height="618" width="618" alt="Promo">
</div>
</div>