<% provide(:title, 'Contact') %>
<html>
<h2>   Contact Us </h2>
<head>
  <title>This is the contact page for MobiDr <%= yield(:title)%></title>
</head>
<body>
<address>
  <strong>MobiDr, Corporation.</strong><br>  5000 Forbes Avenue <br>  Pittsburgh, PA 15213<br>
  <abbr title="Phone">P:</abbr> 412-000-0000
</address>
</body>
</html>
