<%= form_for(current_user.watchlists.build(item_id: @item.id), remote: true) do |f| %>
    <div><%= f.hidden_field :item_id %></div>
    <%= f.submit "Add to WatchList", class: "btn btn-small btn-warning" %>
<% end %>